{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "prettier",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "import/no-named-as-default-member": "off",
    "no-use-before-define": "off",
    "no-undef": "off",
    "import/named": "warn",
    "no-unused-vars": "warn"

  },
  "plugins": ["prettier"]
}