{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "prettier"
  ],
  "rules": {
    "import/no-named-as-default-member": "off"
  },
  "plugins": ["prettier"]
}